<div class="footer">
    <div class="footer-inner">
        <div class="footer-content">
            <span class="bigger-120">
                <a href="http://tuanitpro.com" target="_blank">
                    <span class="blue bolder COPYRIGHT">Color Life</span>
                </a>
                &copy; 2014 
            </span>

            &nbsp; &nbsp;
            <span class="action-buttons">
                <a href="http://twitter.com/tuanitpro" target="_blank">
                    <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                </a>

                <a href="https://www.facebook.com/tuanitpro" target="_blank">
                    <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
                </a>

                <a href="http://tuanitpro.com" target="_blank">
                    <i class="ace-icon fa fa-rss-square orange bigger-150"></i>
                </a>
            </span>
        </div>
    </div>
</div>
<a class="btn-scroll-up btn btn-sm btn-inverse display" id="btn-scroll-up" href="#">
    <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
</a>
 
    </div><!-- /.main-container -->


 <!-- basic scripts -->
<!--[if !IE]> -->
<!-- <![endif]-->
<!--[if IE]>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<![endif]-->
<!--[if !IE]> -->
<!-- <![endif]-->
<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='assets/js/jquery1x.min.js'>"+"<"+"/script>");
</script>
<![endif]-->
<script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='Scrtips/ace/jquery.mobile.custom.min.js'>" + "<" + "/script>");
</script>


<!-- page specific plugin scripts -->
<!--[if lte IE 8]>
  <script src="assets/js/excanvas.min.js"></script>
<![endif]-->
<!-- ace scripts -->
<!-- inline scripts related to this page -->




