@model IEnumerable<DLUProject.Domain.Menus>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
</head>
<body>
    <div> 
        @foreach (var item in Model)
        {
            @item.Name
        }
    </div>
</body>
</html>
