/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0; margin-bottom:30px; position: relative; zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}

/* Title */
.flexslider .slider-title { background-color:#fff; padding: 10px 15px 0 0 ; position:absolute; 
	left:0px; bottom:0px; max-width:500px;
}
.flexslider .slider-title p { margin-bottom:0; margin-top:10px}
.flexslider .slider-title h2 { margin-bottom:0px;}
.flexslider .slider-title h2 a { color: #111;}
.flexslider .slider-meta { position:absolute; right:0px; top:0px; background-color:#000; padding:5px 10px; color:#fff }
.flexslider .slider-meta span { font-size:10px; text-transform:uppercase; margin-right:10px;}
.flexslider .slider-meta span.cm { margin-right:0;}

/* Direction Nav */
.flex-direction-nav { position:absolute; top: 50%; height:0px; width:100%; background:none; opacity: 0; -webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease; -ms-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; z-index:99; }
.flex-direction-nav a {border:1px solid rgba(255,255,255,0.3); width: 38px; height: 48px; display: block;  position: absolute; top: 0; margin-top:-24px; cursor: pointer; color: #fff; text-align:center; background: rgba(0,0,0,0.3);}
.flex-direction-nav a i.fa { font-size:30px; line-height:45px;}
.flex-direction-nav .flex-next { background-position: right center;right: 20px; }
.flex-direction-nav .flex-prev {  background-position: left center; left: 20px;}
.flexslider:hover .flex-next:hover, 
.flexslider:hover .flex-prev:hover {opacity: 0.8;}
.flex-direction-nav .disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

.flexslider:hover .flex-direction-nav {opacity: 1;}

/* Control Nav */
.flex-control-nav {text-align: center; position:relative; display:none  }
.flex-control-nav li {margin:0 7px; padding:0; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 13px; height: 13px; line-height:28px; text-align:center; display: block; background: url(../../images/slider_dots.png) no-repeat; cursor: pointer; color: #666; text-indent:9999em; overflow:hidden; }
.flex-control-paging li a:hover {}
.flex-control-paging li a.flex-active { background-position: bottom left; cursor: default; }

.flex-control-thumbs { margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}