@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FineUpload</title>


    <script src="~/Scripts/jquery-2.1.3.min.js"></script>


</head>
<body>

    <link href="~/Content/filemanager/js/fine-uploader/fine-uploader.min.css" rel="stylesheet" />


    <div id="picture156038114image"></div>
    <div id="thumbnail-fine-uploader"></div>



    <!-- Fine Uploader DOM Element
    ====================================================================== -->
    <!-- Fine Uploader template
    ====================================================================== -->
    <script type="text/template" id="qq-simple-thumbnails-template">
        <div class="qq-uploader-selector qq-uploader">
            <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
                <span>Drop files here to upload</span>
            </div>
            <div class="qq-upload-button-selector qq-upload-button">
                <div>Upload a file (s)</div>
            </div>
            <span class="qq-drop-processing-selector qq-drop-processing">
                <span>Processing dropped files...</span>
                <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
            </span>
            <ul class="qq-upload-list-selector qq-upload-list">
                <li>
                    <div class="qq-progress-bar-container-selector">
                        <div class="qq-progress-bar-selector qq-progress-bar"></div>
                    </div>
                    <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                    <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
                    <span class="qq-edit-filename-icon-selector qq-edit-filename-icon"></span>
                    <span class="qq-upload-file-selector qq-upload-file"></span>
                    <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                    <span class="qq-upload-size-selector qq-upload-size"></span>
                    <a class="qq-upload-cancel-selector qq-upload-cancel" href="#">Cancel</a>
                    <a class="qq-upload-retry-selector qq-upload-retry" href="#">Retry</a>
                    <a class="qq-upload-delete-selector qq-upload-delete" href="#">Delete</a>
                    <span class="qq-upload-status-text-selector qq-upload-status-text"></span>
                </li>
            </ul>
        </div>
    </script>




    <script src="~/Content/filemanager/js/fine-uploader/jquery.fine-uploader.min.js"></script>


    <script>
        $(document).ready(function () {
            $('#thumbnail-fine-uploader').fineUploader({
                template: "qq-simple-thumbnails-template",
                request: {
                    endpoint: '/Admin/FileUploader/AsyncUpload2?folder=/FileSystems'
                },
                validation: {
                    allowedExtensions: ['jpeg', 'jpg', 'gif', 'png', 'pdf', 'doc', 'docx', 'xls', 'xlsx', 'ppt', 'pptx']
                },
                params: {
                    folder: '/FileSystems/',
                },
                debug: true,
                filenameParam: 'myFile',
            }).on("complete", function (event, id, name, responseJSON, xhr) {
                if (responseJSON.success) {
                    $("#picture156038114image").html("<img src='" + responseJSON.data.FullName + "'/>");
                }
            });
        });
    </script>



</body>
</html>
