@model ColorLife.Core.Mvc.PagedList<DLUProject.Domain.Document>
           @using ColorLife.Core.Helper
@{

}
<div class="padding5">
    <section>

        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <div class="title">
                        VĂN BẢN - @ViewBag.Title
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="title-cate">
                    <ol class="breadcrumb" style="background:none; margin:0">
                        <li><a href="/">Trang chủ</a></li>
                        <li>@Html.ActionLink("Văn bản", "Index", "Document")</li>
                        <li class="active">@ViewBag.Title</li>
                    </ol>

                </div>
                <div id="dvAjaxData">
                    @{Html.RenderPartial("_ListPartial", Model);}
                </div>
            </div>

            <div class="col-md-4">
                <div class="widget">
                    <h4 class="title-thongbao ">THÔNG BÁO MỚI</h4>
                    <div class="divthongbao">
                    </div>
                </div>
                @Html.Partial("_SidebarPartial")
            </div>

        </div>

    </section>
</div>
@section scripts{
   
}